/* 
-------------------------------------------------------- 
Reset
-------------------------------------------------------- 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
-------------------------------------------------------- 
Variables
-------------------------------------------------------- 
*/
/* ----- Colors ----- */
/* ----- breakpoints ----- */
/*
-------------------------------------------------------- 
Mixins
-------------------------------------------------------- 
*/
/*
-------------------------------------------------------- 
Base Typography
-------------------------------------------------------- 
*/
@font-face {
  font-family: 'vollkorn';
  src: url("../assets/fonts/vollkorn.eot") format("eot"), url("../assets/fonts/vollkorn.woff") format("woff"), url("../assets/fonts/vollkorn.ttf") format("truetype");
}

@font-face {
  font-family: 'avenir';
  src: url("../assets/fonts/Avenir-Semi-Bold.eot?") format("eot"), url("../assets/fonts/Avenir-Semi-Bold.woff") format("woff"), url("../assets/fonts/Avenir-Semi-Bold.ttf") format("truetype");
}

html {
  font-size: 1rem;
  line-height: 1.58rem;
}

body {
  font-family: 'avenir', helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'avenir', helvetica, sans-serif;
}

h1 {
  font-size: 2.2rem;
  line-height: 3.476rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.844rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2.212rem;
}

h4 {
  font-size: 1.15rem;
  line-height: 1.817rem;
}

p {
  font-size: 1rem;
  line-height: 1.58rem;
  font-family: 'vollkorn', georgia, serif;
}

/* 
-------------------------------------------------------- 
Global
-------------------------------------------------------- 
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  color: #222222;
}

a {
  color: #40b3b9;
  text-decoration: none;
}

.wrap,
.nav-wrap {
  width: 80%;
  max-width: 75rem;
  margin: auto;
}

ul {
  font-size: 1rem;
  line-height: 1.58rem;
}

.link {
  display: inline-block;
  position: relative;
}

.link:after {
  content: '';
  background-color: #40b3b9;
  width: 0%;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.link:hover:after {
  width: 100%;
}

/* ----- Global: Nav ----- */
nav {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  padding: .5em;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0);
  -ms-box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0);
  -o-box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0);
  box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo-wrap a {
  background-image: url(../assets/img/logo/logo-white.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-left: 3rem;
}

nav ul li a {
  color: white;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

nav.nav-bg-visible {
  background: white;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0.5);
  -ms-box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0.5);
  -o-box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0.5);
  box-shadow: 0px 0px 8px 1px rgba(168, 168, 168, 0.5);
}

nav.nav-bg-visible .logo-wrap a {
  background-image: url(../assets/img/logo/logo-black.png);
}

nav.nav-bg-visible li a {
  color: rgba(255, 255, 255, 0);
}

a.link.nav:after {
  background-color: #fff;
}

nav.nav-bg-visible a.link.nav {
  color: #222222;
}

nav.nav-bg-visible a.link.nav:after {
  background-color: #222222;
}

.logo-wrap a {
  display: block;
  height: 50px;
  width: 50px;
}

/* ----- Global: Header ----- */
header {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header canvas.background {
  opacity: .7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

header .wrap {
  position: relative;
  height: 100%;
}

header .tagline {
  position: relative;
  z-index: 2;
  color: #fff;
}

/* ----- Global: Footer ----- */
footer {
  padding: 3rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#0dc3cc), to(#35cdac));
  background-image: linear-gradient(-270deg, #0dc3cc 0%, #35cdac 100%);
}

footer .logo-wrap a {
  margin: auto;
  background: url(../assets/img/logo/logo-white.png) center center no-repeat;
  background-size: contain;
}

footer ul {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li a {
  color: #fff;
}

/* 
-------------------------------------------------------- 
Color Coordination
-------------------------------------------------------- 
*/
/* ----- Footer Gradient ----- */
.proj-1 footer {
  background: -webkit-gradient(linear, left top, right top, from(#48b0d5), to(#186b6d));
  background: linear-gradient(-270deg, #48b0d5 0%, #186b6d 100%);
}

.proj-2 footer {
  background: -webkit-gradient(linear, left top, right top, from(#5fc884), to(#5cc7bb));
  background: linear-gradient(-270deg, #5fc884 0%, #5cc7bb 100%);
}

.proj-3 footer {
  background: -webkit-gradient(linear, left top, right top, from(#40b4ba), to(#4185b9));
  background: linear-gradient(-270deg, #40b4ba 0%, #4185b9 100%);
}

.proj-4 footer {
  background: -webkit-gradient(linear, left top, right top, from(#0062ff), to(#61efff));
  background: linear-gradient(-270deg, #0062ff 0%, #61efff 100%);
}

.proj-5 footer {
  background: -webkit-gradient(linear, left top, right top, from(#1998b8), to(#1a6eb7));
  background: linear-gradient(-270deg, #1998b8 0%, #1a6eb7 100%);
}

/* ----- Index Page Project Blocks ----- */
.index .projects-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index .projects-wrap li:nth-child(1) a {
  background-color: #49AFD5;
}

.index .projects-wrap li:nth-child(1) a:hover {
  background-color: #2c97bf;
}

.index .projects-wrap li:nth-child(2) a {
  background-color: #5EC883;
}

.index .projects-wrap li:nth-child(2) a:hover {
  background-color: #3eb568;
}

.index .projects-wrap li:nth-child(3) a {
  background-color: #40b3b9;
}

.index .projects-wrap li:nth-child(3) a:hover {
  background-color: #338e93;
}

.index .projects-wrap li:nth-child(4) a {
  background-color: #4783F0;
}

.index .projects-wrap li:nth-child(4) a:hover {
  background-color: #1863ec;
}

.index .projects-wrap li:nth-child(5) a {
  background-color: #1998B7;
}

.index .projects-wrap li:nth-child(5) a:hover {
  background-color: #13738a;
}

/* ----- Project Page Lines ----- */
.portfolio-project.proj-1 .project-nav span.next:before,
.portfolio-project.proj-1 .project-nav span.previous:after {
  background: #49AFD5;
}

.portfolio-project.proj-2 .project-nav span.next:before,
.portfolio-project.proj-2 .project-nav span.previous:after {
  background: #5EC883;
}

.portfolio-project.proj-3 .project-nav span.next:before,
.portfolio-project.proj-3 .project-nav span.previous:after {
  background: #40b3b9;
}

.portfolio-project.proj-4 .project-nav span.next:before,
.portfolio-project.proj-4 .project-nav span.previous:after {
  background: #4783F0;
}

.portfolio-project.proj-5 .project-nav span.next:before,
.portfolio-project.proj-5 .project-nav span.previous:after {
  background: #1998B7;
}

/* 
-------------------------------------------------------- 
Pages: Index
-------------------------------------------------------- 
*/
.index section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.index section:nth-child(odd) {
  background: #F6F6F6;
}

.index .title {
  margin-bottom: 2rem;
  text-align: center;
}

/* ----- Index: Header ----- */
.index header {
  height: 40rem;
  background-image: url(../assets/img/banner/index.jpg);
}

.index header .tagline {
  padding-top: 14rem;
  text-align: center;
}

.index header .tagline h1 {
  font-size: 6rem;
  line-height: 9.48rem;
}

.index header .tagline h2 {
  font-size: 3rem;
  line-height: 4.74rem;
}

/* ----- Index: Quotes ----- */
.index .quotes {
  color: #4A4A4A;
  text-align: center;
  font-size: 1rem;
  line-height: 1.58rem;
}

.index .quotes blockquote {
  font-family: 'vollkorn', georgia, serif;
  margin: auto;
  max-width: 700px;
}

.index .quotes .attrib {
  margin-top: 2rem;
}

/* ----- Index: Work ----- */
.index .projects-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index .projects-wrap li.headliner {
  width: 50%;
}

.index .projects-wrap li {
  padding: 0 30px 30px 0;
  position: relative;
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .projects-wrap li a {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.index .projects-wrap li a .project-title {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 1.5rem;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.896rem;
}

.index .projects-wrap li a p {
  font-family: 'vollkorn', georgia, serif;
  color: #fff;
  padding: 1.5rem;
}

/* ----- Index: About ----- */
.index .about .wrap {
  max-width: 700px;
}

.index .about img {
  float: left;
  margin: 0 1rem 1rem 0;
  width: 10rem;
  border-radius: 3px;
}

.index .about p {
  margin-bottom: 1rem;
}

.index .about ul {
  font-family: 'vollkorn', serif;
  margin: 1rem 0 1rem;
  padding-left: 3rem;
}

.index .about ul li {
  list-style-type: disc;
  margin: .5rem 0;
}

.index .about .contact {
  font-weight: 900;
  color: #49AFD5;
}

/* 
-------------------------------------------------------- 
Pages: Portfolio Projects
-------------------------------------------------------- 
*/
/* ----- Portflio Projects: Header ----- */
.portfolio-project header {
  height: 30rem;
  padding-bottom: 1rem;
}

.portfolio-project header .tagline {
  position: absolute;
  bottom: 1px;
  text-align: left;
}

.portfolio-project header .tagline h1 span {
  display: block;
  font-size: 1.6rem;
  line-height: 2.528rem;
}

.portfolio-project.proj-1 header {
  background-image: url(../assets/img/banner/city.jpg);
}

.portfolio-project.proj-2 header {
  background-image: url(../assets/img/banner/city-2.jpg);
}

.portfolio-project.proj-3 header {
  background-image: url(../assets/img/banner/gov.jpg);
}

.portfolio-project.proj-4 header {
  background-image: url(../assets/img/banner/hotel.jpg);
}

.portfolio-project.proj-5 header {
  background-image: url(../assets/img/banner/hotel-2.jpg);
}

/* ----- Portflio Projects: Content ----- */
.portfolio-project .emphasis {
  display: inline-block;
  margin: 0 0.1em;
  background-color: #d5eff0;
  padding: 0px 5px;
  border-radius: 3px;
}

.portfolio-project .wrap {
  max-width: 45rem;
}

.portfolio-project section {
  padding-bottom: 2rem;
}

.portfolio-project section ul {
  font-family: 'vollkorn', georgia, serif;
  margin: 1rem 0 1rem;
  padding-left: 3rem;
}

.portfolio-project section ul li {
  list-style-type: disc;
  margin: .5rem 0;
}

.portfolio-project section h2 {
  margin-top: 3rem;
}

.portfolio-project section p {
  margin: 1rem 0 1rem;
}

.portfolio-project .gallery {
  margin: auto;
  padding-bottom: 2rem;
}

.portfolio-project .gallery:not(.no-flexbox) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-project .gallery .figure {
  margin: 1rem;
  width: 320px;
}

.portfolio-project .gallery .figure div {
  max-height: 320px;
  overflow: hidden;
  border: 1px solid #ebebec;
}

.portfolio-project .gallery .figure img {
  width: 100%;
}

.portfolio-project .gallery p {
  font-size: 0.9rem;
  line-height: 1.422rem;
  color: #4A4A4A;
}

.portfolio-project .gallery > p {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-project .gallery.no-flexbox .figure {
  margin: auto;
}

.portfolio-project iframe.no-gallery {
  margin-bottom: 2rem;
}

.portfolio-project blockquote {
  font-family: 'vollkorn', georgia, serif;
  font-size: 1rem;
  line-height: 1.58rem;
  width: 80%;
  margin: 1rem auto;
  padding: 1.5em 3em;
  border-left: 8px solid #89d2d6;
  position: relative;
  background: #e8f6f7;
}

.portfolio-project blockquote::before {
  content: "\201C";
  color: #40b3b9;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: 35px;
}

.portfolio-project blockquote .attrib {
  margin-top: 0.5rem;
}

/* ----- Portflio Projects: Image Loader ----- */
.featherlight-loading .featherlight .featherlight-content {
  border: 8px solid transparent;
  border-left-color: #ffffff;
  border-bottom: 8px solid transparent;
}

@-webkit-keyframes featherlightLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes featherlightLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.featherlight-loading .featherlight-content {
  -webkit-animation: featherlightLoader 1s infinite linear;
  animation: featherlightLoader 1s infinite linear;
  background: transparent;
  border: 8px solid #8f8f8f;
  border-left-color: #fff;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  min-width: 0;
}

.featherlight-loading .featherlight-content > * {
  display: none !important;
}

.featherlight-loading .featherlight-close,
.featherlight-loading .featherlight-inner {
  display: none;
}

/* ----- Portflio Projects: Project Navigator ----- */
.portfolio-project .project-nav {
  background-color: #F6F6F6;
  text-align: center;
  border-bottom: 2px solid #fff;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-project .project-nav > div:nth-child(2) {
  border-left: 2px solid #fff;
}

.portfolio-project .project-nav > div:nth-child(2) a div {
  text-align: right;
}

.portfolio-project .project-nav .direction {
  width: 100%;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-project .project-nav .direction:hover {
  background-color: #ececec;
}

.portfolio-project .project-nav .direction span {
  font-family: 'avenir', helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  margin: 1rem 0 1rem;
  font-size: 0.75rem;
  line-height: 1.185rem;
}

.portfolio-project .project-nav .direction span.next:before, .portfolio-project .project-nav .direction span.previous:after {
  content: "";
  position: absolute;
  margin-left: 0.3em;
  top: 36%;
  width: 3rem;
  height: 2px;
}

.portfolio-project .project-nav .direction span.next:before {
  left: -46%;
}

.portfolio-project .project-nav .direction .proj-name {
  font-size: 1rem;
  line-height: 1.58rem;
}

.portfolio-project .project-nav .direction a {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-project .project-nav .direction a div a {
  text-align: left;
  display: inline-block;
}

.portfolio-project .project-nav .direction a span {
  color: #4A4A4A;
}

/* 
-------------------------------------------------------- 
Media Queries
-------------------------------------------------------- 
*/
@media all and (max-width: 56.25rem) {
  .index .wrap,
  .index .nav-wrap {
    width: 90%;
  }
  .index header .tagline h1 {
    font-size: 4rem;
    line-height: 6.32rem;
  }
  .index header .tagline h2 {
    font-size: 2rem;
    line-height: 3.16rem;
  }
  .index .projects-wrap li,
  .index .projects-wrap li.headliner {
    width: 100%;
    padding-right: 0;
  }
  .index .about ul {
    padding-left: 2rem;
  }
  .portfolio-project .wrap,
  .portfolio-project .nav-wrap {
    width: 90%;
  }
  .portfolio-project section ul {
    padding-left: 2rem;
  }
  .portfolio-project .gallery .figure {
    margin: 1rem 0;
    width: auto;
  }
  .portfolio-project iframe {
    width: 100%;
  }
  .portfolio-project .project-nav .direction a {
    padding: 1.5rem;
  }
  .portfolio-project .project-nav .direction span {
    font-size: 0.65rem;
    line-height: 1.027rem;
  }
  .portfolio-project .project-nav .direction .proj-name {
    font-size: 0.8rem;
    line-height: 1.264rem;
    margin-top: 0.5rem;
  }
  .portfolio-project .project-nav .direction span.next:before,
  .portfolio-project .project-nav .direction span.previous:after {
    width: 0px;
  }
}

@media all and (max-width: 20rem) {
  .gallery .figure,
  .gallery.no-flexbox .figure {
    max-width: 288px;
  }
}
/*# sourceMappingURL=style.css.map */