/* 
-------------------------------------------------------- 
Reset
-------------------------------------------------------- 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
-------------------------------------------------------- 
Variables
-------------------------------------------------------- 
*/

/* ----- Colors ----- */

$white: #fff;
$light-gray: #F6F6F6;
$viking: #40b3b9;
$picton-blue: #49AFD5;
$emerald: #5EC883;
$cornflower: #4783F0;
$pelorous: #1998B7;
$charcoal: #4A4A4A;
$near-black: #222222;

/* ----- breakpoints ----- */

$med: 56.25rem;
$small: 20rem;
/*
-------------------------------------------------------- 
Mixins
-------------------------------------------------------- 
*/

@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin transition($transition-property: all, $transition-time: 0.3s, $method: ease) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin avenir {
    font-family: 'avenir', helvetica, sans-serif;
}

@mixin vollkorn {
    font-family: 'vollkorn', georgia, serif;

}

/*
-------------------------------------------------------- 
Base Typography
-------------------------------------------------------- 
*/

@mixin font-size($size: 1.6, $line: $size * 1.58) {
    font-size: $size + rem;
    line-height: $line + rem;
}

@font-face {
    font-family: 'vollkorn';
    src:
        url("../assets/fonts/vollkorn.eot") format("eot"),
        url("../assets/fonts/vollkorn.woff") format("woff"),
        url("../assets/fonts/vollkorn.ttf") format("truetype");
}

@font-face {
    font-family: 'avenir';
    src:
        url("../assets/fonts/Avenir-Semi-Bold.eot?") format("eot"),
        url("../assets/fonts/Avenir-Semi-Bold.woff") format("woff"),
        url("../assets/fonts/Avenir-Semi-Bold.ttf") format("truetype");
}

html {
    @include font-size(1);
}

body {
    @include avenir;
}

h1,
h2,
h3,
h4 {
    @include avenir;
}

h1 {
    @include font-size(2.2);
}

h2 {
    @include font-size(1.8);
}

h3 {
    @include font-size(1.25);
}

h4 {
    @include font-size(1.15);
}

p {
    @include font-size(1);
    @include vollkorn;
}


/* 
-------------------------------------------------------- 
Global
-------------------------------------------------------- 
*/

*,
*:before,
*:after {
    @include vendor-prefix(box-sizing, border-box);
}

html {
    background-color: $white;
}

body {
    color: $near-black;
}

a {
    color: $viking;
    text-decoration: none;
}

.wrap,
.nav-wrap {
    width: 80%;
    max-width: 75rem;
    margin: auto;
}



ul {
    @include font-size(1);
}

.link {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        background-color: $viking;
        width: 0%;
        height: 4px;
        position: absolute;
        bottom: -4px;
        left: 0;
        @include transition(width);
    }

    &:hover:after {
        width: 100%;
    }
}

/* ----- Global: Nav ----- */

nav {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    padding: .5em;
    @include vendor-prefix(box-shadow, 0px 0px 8px 1px rgba(168, 168, 168, 0));
    @include transition(all, 0.5s, ease);

    .nav-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo-wrap a {
        background-image: url(../assets/img/logo/logo-white.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            margin-left: 3rem;

            a {
                color: rgba(255, 255, 255, 1);
                @include transition(color, 0.5s, ease);
            }
        }
    }
}

nav.nav-bg-visible {
    background: rgba(255, 255, 255, 1);
    @include vendor-prefix(box-shadow, 0px 0px 8px 1px rgba(168, 168, 168, 0.5));


    .logo-wrap a {
        background-image: url(../assets/img/logo/logo-black.png);
    }

    li a {
        color: rgba(255, 255, 255, 0);
    }
}

a.link.nav {

    &:after {
        background-color: $white;
    }
}

nav.nav-bg-visible a.link.nav {
    color: $near-black;

    &:after {
        background-color: $near-black;
    }
}

.logo-wrap a {
    display: block;
    height: 50px;
    width: 50px;
}

/* ----- Global: Header ----- */

header {
    display: block;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .wrap {
        position: relative;
        height: 100%;
    }

    .tagline {
        position: relative;
        z-index: 2;
        color: $white;
    }
}

/* ----- Global: Footer ----- */

footer {
    padding: 3rem 0;
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);

    .logo-wrap a {
        margin: auto;
        background: url(../assets/img/logo/logo-white.png) center center no-repeat;
        background-size: contain;
    }

    ul {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 0 2rem;
            display: flex;

            a {
                color: $white;
            }
        }
    }
}

/* 
-------------------------------------------------------- 
Color Coordination
-------------------------------------------------------- 
*/

/* ----- Footer Gradient ----- */

.proj-1 footer {
    background: linear-gradient(-270deg, hsla(196, 63%, 56%, 1) 0%, hsla(181, 64%, 26%, 1) 100%);
}

.proj-2 footer {
    background: linear-gradient(-270deg, hsla(141, 49%, 58%, 1) 0%, hsla(173, 49%, 57%, 1) 100%);
}

.proj-3 footer {
    background: linear-gradient(-270deg, hsla(183, 49%, 49%, 1) 0%, hsla(206, 48%, 49%, 1) 100%);
}

.proj-4 footer {
    background: linear-gradient(-270deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

.proj-5 footer {
    background: linear-gradient(-270deg, hsla(192, 76%, 41%, 1) 0%, hsla(208, 75%, 41%, 1) 100%);
}

/* ----- Index Page Project Blocks ----- */

.index .projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li:nth-child(1) a {
        background-color: $picton-blue;

        &:hover {
            background-color: darken($picton-blue, 10%);
        }
    }

    li:nth-child(2) a {
        background-color: $emerald;

        &:hover {
            background-color: darken($emerald, 10%);
        }
    }

    li:nth-child(3) a {
        background-color: $viking;

        &:hover {
            background-color: darken($viking, 10%);
        }
    }

    li:nth-child(4) a {
        background-color: $cornflower;

        &:hover {
            background-color: darken($cornflower, 10%);
        }
    }

    li:nth-child(5) a {
        background-color: $pelorous;

        &:hover {
            background-color: darken($pelorous, 10%);
        }
    }
}

/* ----- Project Page Lines ----- */

.portfolio-project.proj-1 .project-nav span.next:before,
.portfolio-project.proj-1 .project-nav span.previous:after {
    background: $picton-blue;
}

.portfolio-project.proj-2 .project-nav span.next:before,
.portfolio-project.proj-2 .project-nav span.previous:after {
    background: $emerald;
}

.portfolio-project.proj-3 .project-nav span.next:before,
.portfolio-project.proj-3 .project-nav span.previous:after {
    background: $viking;
}

.portfolio-project.proj-4 .project-nav span.next:before,
.portfolio-project.proj-4 .project-nav span.previous:after {
    background: $cornflower;
}

.portfolio-project.proj-5 .project-nav span.next:before,
.portfolio-project.proj-5 .project-nav span.previous:after {
    background: $pelorous;
}

/* 
-------------------------------------------------------- 
Pages: Index
-------------------------------------------------------- 
*/

.index {
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;

        &:nth-child(odd) {
            background: $light-gray;
        }
    }

    .title {
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* ----- Index: Header ----- */

.index header {
    height: 40rem;
    background-image: url(../assets/img/banner/index.jpg);

    .tagline {
        padding-top: 14rem;
        text-align: center;

        h1 {
            @include font-size(6);
        }

        h2 {
            @include font-size(3);
        }
    }
}

/* ----- Index: Quotes ----- */

.index .quotes {
    color: $charcoal;
    text-align: center;
    @include font-size(1);

    blockquote {
        @include vollkorn;
        margin: auto;
        max-width: 700px;
    }

    .attrib {
        margin-top: 2rem;
    }
}

/* ----- Index: Work ----- */

.index .projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li.headliner {
        width: 50%;
    }

    li {
        padding: 0 30px 30px 0;
        position: relative;
        width: 33.333%;
        display: flex;

        a {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            @include transition;

            .project-title {
                background-color: rgba(255, 255, 255, 0.3);
                color: $white;
                padding: 1.5rem;
                font-weight: 900;
                @include font-size(1.2);
            }

            p {
                @include vollkorn;
                color: $white;
                padding: 1.5rem;
            }
        }
    }
}

/* ----- Index: About ----- */

.index .about {

    .wrap {
        max-width: 700px;
    }

    img {
        float: left;
        margin: 0 1rem 1rem 0;
        width: 10rem;
        border-radius: 3px;
    }

    p {
        margin-bottom: 1rem;
    }

    ul {
        font-family: 'vollkorn', serif;
        margin: 1rem 0 1rem;
        padding-left: 3rem;

        li {
            list-style-type: disc;
            margin: .5rem 0;
        }
    }

    .contact {
        font-weight: 900;
        color: $picton-blue;
    }
}

/* 
-------------------------------------------------------- 
Pages: Portfolio Projects
-------------------------------------------------------- 
*/

/* ----- Portflio Projects: Header ----- */

.portfolio-project {

    header {
        height: 30rem;
        padding-bottom: 1rem;

        .tagline {
            position: absolute;
            bottom: 1px;
            text-align: left;

            h1 span {
                display: block;
                @include font-size(1.6);
            }
        }
    }
}

.portfolio-project.proj-1 header {
    background-image: url(../assets/img/banner/city.jpg);
}

.portfolio-project.proj-2 header {
    background-image: url(../assets/img/banner/city-2.jpg);
}

.portfolio-project.proj-3 header {
    background-image: url(../assets/img/banner/gov.jpg);
}

.portfolio-project.proj-4 header {
    background-image: url(../assets/img/banner/hotel.jpg);
}

.portfolio-project.proj-5 header {
    background-image: url(../assets/img/banner/hotel-2.jpg);
}

/* ----- Portflio Projects: Content ----- */

.portfolio-project {

    // .emphasis {
    //     position: relative;

    //     &::before {
    //         content: '';
    //         background-color: #f3ffb2;
    //         width: 100%;
    //         height: 9px;
    //         position: absolute;
    //         bottom: 6px;
    //         left: 0;
    //         z-index: -1;
    //     }
    // }

    .wrap {
        max-width: 45rem;
    }

    section {
        padding-bottom: 2rem;

        ul {
            @include vollkorn;
            margin: 1rem 0 1rem;
            padding-left: 3rem;

            li {
                list-style-type: disc;
                margin: .5rem 0;
            }
        }

        h2 {
            margin-top: 3rem;
        }

        p {
            margin: 1rem 0 1rem;
        }
    }

    .gallery {
        margin: auto;
        padding-bottom: 2rem;


        &:not(.no-flexbox) {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .figure {
            margin: 1rem;
            width: 320px;


            div {
                max-height: 320px;
                overflow: hidden;
                border: 1px solid rgb(235, 235, 236);
            }

            img {
                width: 100%;
            }
        }

        p {
            @include font-size(0.9);
            color: $charcoal;
        }

        &>p {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
        }

        &.no-flexbox .figure {
            margin: auto;
        }
    }

    iframe.no-gallery {
        margin-bottom: 2rem;
    }

    blockquote {
        @include vollkorn();
        @include font-size(1);
        width: 80%;
        margin: 1rem auto;
        padding: 1.5em 3em;
        border-left: 8px solid lighten($viking, 20);
        position: relative;
        background: lighten($viking, 45);


        &::before {
            content: "\201C";
            color: $viking;
            font-size: 4em;
            position: absolute;
            left: 10px;
            top: 35px;
        }

        .attrib {
            margin-top: 0.5rem;
        }
    }
}

/* ----- Portflio Projects: Image Loader ----- */

.featherlight-loading .featherlight .featherlight-content {
    border: 8px solid transparent;
    border-left-color: #ffffff;
    border-bottom: 8px solid transparent;
}

@-webkit-keyframes featherlightLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes featherlightLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.featherlight-loading .featherlight-content {
    -webkit-animation: featherlightLoader 1s infinite linear;
    animation: featherlightLoader 1s infinite linear;
    background: transparent;
    border: 8px solid #8f8f8f;
    border-left-color: #fff;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    min-width: 0;
}

.featherlight-loading .featherlight-content>* {
    display: none !important;
}

.featherlight-loading .featherlight-close,
.featherlight-loading .featherlight-inner {
    display: none;
}

/* ----- Portflio Projects: Project Navigator ----- */

.portfolio-project {

    .project-nav {
        background-color: $light-gray;
        text-align: center;
        border-bottom: 2px solid $white;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        &>div:nth-child(2) {
            border-left: 2px solid $white;

            a div {
                text-align: right;
            }
        }

        .direction {
            width: 100%;
            text-align: left;
            @include transition;

            &:hover {
                background-color: darken($light-gray, 4%)
            }

            span {
                @include avenir;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                position: relative;
                margin: 1rem 0 1rem;
                @include font-size (0.75);

                &.next:before,
                &.previous:after {
                    content: "";
                    position: absolute;
                    margin-left: 0.3em;
                    top: 36%;
                    width: 3rem;
                    height: 2px;
                }

                &.next:before {
                    left: -46%;
                }
            }

            .proj-name {
                @include font-size(1);

            }

            a {
                padding: 5rem 0;
                display: flex;
                justify-content: center;

                div a {
                    text-align: left;
                    display: inline-block;
                }

                span {
                    color: $charcoal
                }
            }
        }
    }
}

/* 
-------------------------------------------------------- 
Media Queries
-------------------------------------------------------- 
*/

@media all and (max-width: $med) {

    .index {

        .wrap,
        .nav-wrap {
            width: 90%;
        }

        header {

            .tagline {
                h1 {
                    @include font-size(4)
                }

                h2 {
                    @include font-size(2)
                }
            }
        }

        .projects-wrap {

            li,
            li.headliner {
                width: 100%;
                padding-right: 0;
            }
        }

        .about ul {
            padding-left: 2rem;
        }
    }

    .portfolio-project {

        .wrap,
        .nav-wrap {
            width: 90%;
        }

        section ul {
            padding-left: 2rem;
        }

        .gallery .figure {
            margin: 1rem 0;
            width: auto;
        }

        iframe {
            width: 100%;
        }

        .project-nav .direction {
            a {
                padding: 1.5rem;
            }

            span {
                @include font-size(0.65)
            }

            .proj-name {
                @include font-size(0.8);
                margin-top: 0.5rem;
            }

            span.next:before,
            span.previous:after {
                width: 0px;
            }
        }
    }
}

@media all and (max-width: $small) {

    .gallery .figure,
    .gallery.no-flexbox .figure {
        max-width: 288px;
    }
}