
/* 
-------------------------------------------------------- 
Reset
-------------------------------------------------------- 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
-------------------------------------------------------- 
Variables
-------------------------------------------------------- 
*/

/* ----- Colors ----- */

$white: #fff;
$light-gray: #F6F6F6;
$viking: #40b3b9;
$picton-blue: #49AFD5;
$emerald: #5EC883;
$cornflower: #4783F0;
$pelorous: #1998B7;
$charcoal: #4A4A4A;
$near-black: #222222;

/* ----- breakpoints ----- */

$med: 56.25rem;

/*
-------------------------------------------------------- 
Base Typography
-------------------------------------------------------- 
*/

@mixin font-size($size: 1.6, $line: $size * 1.58) {
    font-size: $size + rem;
    line-height: $line + rem;
}

@font-face {
    font-family: 'vollkorn';
    src: url("../assets/fonts/vollkorn.eot");
    src: url("../assets/fonts/vollkorn.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/vollkorn.woff") format("woff"), url("../assets/fonts/vollkorn.ttf") format("truetype"), url("../assets/fonts/vollkorn.svg#OpenSansRegular") format("svg");
    font-weight: 100;
    font-style: 100;
}

@font-face {
    font-family: 'avenir';
    src: url("../assets/fonts/Avenir-Light.eot?") format("eot"), url("../assets/fonts/Avenir-Light.otf") format("opentype"), url("../assets/fonts/Avenir-Light.woff") format("woff"), url("../assets/fonts/Avenir-Light.ttf") format("truetype"), url("../assets/fonts/Avenir-Light.svg#AvenirLTStd-Light") format("svg");
    font-weight: 100;
    font-style: 100;
}

html {
    @include font-size(1);
}

body {
    font-family: 'avenir', sans-serif;
}

h1 {
    @include font-size(2.2);
}

h2 {
    @include font-size(1.8);
}

h3 {
    @include font-size(1.6);
}

h4 {
    @include font-size(1.2);
}

p {
    @include font-size(1);
}

/*
-------------------------------------------------------- 
Mixins
-------------------------------------------------------- 
*/

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @if $value == nowrap {
        -ms-flex-wrap: none;
    } @else { 
        -ms-flex-wrap: $value; 
    }
    flex-wrap: $value;
}

@mixin justify-content($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;      
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
}

@mixin flex-direction($value: row) {
    @if $value == row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
    } @else if $value == column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    } @else if $value == column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
    } @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin flex-grow($int: 0) {
    -webkit-box-flex: $int;
    -webkit-flex-grow: $int;
    -moz-flex-grow: $int;
    -ms-flex-positive: $int;
    flex-grow: $int;
}

@mixin align-items($value: stretch) {
    @if $value == flex-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    -moz-align-items: $value;
    align-items: $value;
}

@mixin align-self($value: auto) {
    -webkit-align-self: $value;
    -moz-align-self: $value;
    @if $value == flex-start {
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -ms-flex-item-align: end;
    } @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}

@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin transition($transition-property: all, $transition-time: 0.5s, $method: ease) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/* 
-------------------------------------------------------- 
Global
-------------------------------------------------------- 
*/

*, *:before, *:after {
    @include vendor-prefix(box-sizing, border-box);
}

html {
    background-color: $white;
}

body {
    color: $near-black;
}

a {
    color: $viking;
    text-decoration: none;
}

.wrap {
    width: 80%;
    max-width: 75rem;
    margin: auto;
}

ul, ol {
    list-style-type: none;
}

/* ----- Global: Links ----- */

.link {
    display: inline-block;
    position: relative;
    @include transition; 

    span {
        position: relative;
        color: $viking;
        background: $viking;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition;
    };

    &:after {
        content: '';
        background-color: $viking;
        width: 0%;
        height: 4px;
        position: absolute;
        bottom: -4px;
        left: 0;
        @include transition;
    }

    &:hover:after {
        width: 100%;
    }
}

.nav.link {
    color: $white;

    span {
        color: #fff;
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    };

    &:after {
        background-color: $white;
    }
}

nav.fullbar .nav.link {
    color: $near-black;

    span {
        color: $near-black;
        background: $near-black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:after {
        background-color: $near-black;
    }
}

/* ----- Global: Nav ----- */

.logo-wrap a {
    display: block;
    height: 50px;
    width: 50px;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    padding: .5em;

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo-wrap a {
        background: url(../assets/img/logo-white.png) center center no-repeat;
        background-size: contain;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            margin-left: 3rem;
        }
    }
}

nav.fullbar {
    background: $white;
    @include transition(all, 0.5s, ease-in-out);
    @include vendor-prefix(box-shadow, 0px 0px 8px 1px rgba(168,168,168,0.5));

    .logo-wrap a {
        background: url(../assets/img/logo-black.png) center center no-repeat;
        background-size: contain;
    }

    li a {
        color: $near-black;
    }
}

/* ----- Global: Header ----- */

header {
    display: block;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .wrap {
        position: relative;
        height: 100%;
    }

    #canvas-basic {
        opacity: .7;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .tagline {
        position: relative;
        z-index: 2;
        color: $white;
    }
}

/* ----- Global: Footer ----- */

footer {
    padding: 3rem 0;
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);

    .logo-wrap a {
        margin: auto;
        background: url(../assets/img/logo-white.png) center center no-repeat;
        background-size: contain;
    }

    ul {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
             margin: 0 2rem;
             display: flex;
        }
    }
}

.uno footer {
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);
}
.webdirect footer {
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);
}
.bks-website footer {
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);
}
.keyword-search footer {
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);
}
.news-analysis footer {
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);
}
.pb-feature footer {
    background-image: linear-gradient(-270deg, rgb(13, 195, 204) 0%, rgb(53, 205, 172) 100%);
}

/* 
-------------------------------------------------------- 
Pages: Index
-------------------------------------------------------- 
*/
.index {
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;

        &:nth-child(odd){
            background: $light-gray;
        }
    }

    .title {
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* ----- Index: Header ----- */

.index header {
    height: 40rem;
    background-image: url(../assets/img/banner-index.jpg);

    .tagline {
        padding-top: 10rem;
        text-align: center;

        h1 {
            @include font-size(6);
        }

        h2 {
            @include font-size(3);
        }
    }
}

/* ----- Index: Manifesto ----- */

.index .manifesto {
    color: $charcoal;
    text-align: center;

    .prompt {
        @include font-size(1.6);

        div {
          @include font-size(2);
        }
    }

    blockquote {
        font-family: 'vollkorn', sans-serif;
        margin: 2rem auto;
        max-width: 30rem;
        @include font-size(1);
    }

    .attrib {
        font-family: 'vollkorn', sans-serif;
        margin-top: 2rem;
        @include font-size(1);
    }
}

/* ----- Index: Work ----- */

.index .projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li:nth-child(1) a {
      background-color: $picton-blue;
      &:hover{
        background-color: darken($picton-blue, 10%);
      }
    }
    li:nth-child(2) a {
      background-color: $emerald;
      &:hover{
        background-color: darken($emerald, 10%);
      }
    }
    li:nth-child(3) a {
      background-color: $viking;
      &:hover{
        background-color: darken($viking, 10%);
      }
    }
    li:nth-child(4) a {
      background-color: $cornflower;
      &:hover{
        background-color: darken($cornflower, 10%);
      }
    }
    li:nth-child(5) a {
      background-color: $pelorous;
      &:hover{
        background-color: darken($pelorous, 10%);
      }
    }
    li:nth-child(6) a {
      background-color: $picton-blue;
      &:hover{
        background-color: darken($picton-blue, 10%);
      }
    }

    li.featured {
      width: 50%;
    }

    li {
        padding: 0 30px 30px 0;
        position: relative;
        width: 33.333%;
        display: flex;

        a {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            @include transition;

            .project-title{
                background-color: rgba(255, 255, 255, 0.3);
                color: $white;
                padding: 1.5rem;
                font-weight: 900;
                @include font-size(1.2);
            }

            p {
              font-family: 'vollkorn', sans-serif;
              color: $white;
              padding: 1.5rem;
            }
        }
    }
}


/* ----- Index: About ----- */

.index .about {

    .wrap {
        max-width: 50rem;
    }

    img {
        float: left;
        margin: 0 1rem 1rem 0;
        width: 10rem;
    }
    
    p {
        margin-bottom: 1rem;
        font-family: 'vollkorn', sans-serif;
    }

    .contact {
        font-weight: 900;
        color: $picton-blue;
    }
}

/* 
-------------------------------------------------------- 
Pages: Portfolio Projects
-------------------------------------------------------- 
*/

/* ----- Portflio Projects: Header ----- */

.portfolio-project header {
    height: 20rem;

    .tagline {
        position: absolute;
        bottom: 1px;
        text-align: left;

        h1 {
            @include font-size(3);
        }
    }
}

.uno.portfolio-project header {
    background-image: url(../assets/img/banner-clouds1.jpg) ;
}
.webdirect.portfolio-project header {
    background-image: url(../assets/img/banner-bridge1.jpg) ;
}
.bks-website.portfolio-project header {
    background-image: url(../assets/img/banner-lightning.jpg) ;
}
.keyword-search.portfolio-project header {
    background-image: url(../assets/img/banner-nightsky.jpg) ;
}
.news-analysis.portfolio-project header {
    background-image: url(../assets/img/banner-waves.jpg) ;
}
.pb-feature.portfolio-project header {
    background-image: url(../assets/img/banner-forestclouds.jpg) ;
}
.manifesto-pg header {
    background-image: url(../assets/img/banner-nighttree.jpg) ;
}

/* ----- Portflio Projects: Content ----- */

.portfolio-project {

    section {
        padding-bottom: 2rem;
        font-family:'vollkorn', sans-serif;
        @include font-size(1.2);
    

        &.background {
            background-color: $light-gray;
            padding-top: 2rem;
        }

        &.background + section {
            padding-top: 2rem;
        }

        & .wrap {
            max-width: 45rem;
        }

        p,
        ul {
            margin: 1rem 0 1rem;
        }

        ul {
            padding-left: 1.5rem;
            @include font-size(1);

            li:before {
                content: "\0BB \020";
            }
        }
    }

    .item-title {
            font-family: 'avenir', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            position: relative;
            margin: 1rem 0 1rem;
            @include font-size (0.8);

            &:not(.next-item):after {
                content: "";
                position: absolute;
                margin-left: 0.5em;
                top: 36%;
                width: 3rem;
                height: 2px;
            }

            &.next-item:before{
                content: "";
                position: absolute;
                margin-right: 0.5em;
                top: 36%;
                width: 3rem;
                height: 2px;
                left: -44%;
            } 
        }

    .gallery {
        width: 90%;
        max-width: 70rem;
        margin: auto;
        padding-bottom: 2rem;


        &:not(.no-flexbox) {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

            .figure {
                margin: 1rem;
                max-width: 20rem;

                img {
                    width: 100%;
                    border: 1px solid rgb(235, 235, 236);
                }
            }

            p {
                @include font-size(0.9);
            }

            & > p {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 2rem;
            }
        &.no-flexbox .figure {
            margin: auto;
        }
    }
}

/* ----- Portflio Projects: Image Loader ----- */

.featherlight-loading .featherlight .featherlight-content {
    border: 8px solid transparent;
    border-left-color: #ffffff;
    border-bottom: 8px solid transparent;
}

@-webkit-keyframes featherlightLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes featherlightLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.featherlight-loading .featherlight-content {
  -webkit-animation: featherlightLoader 1s infinite linear;
          animation: featherlightLoader 1s infinite linear;
  background: transparent;
  border: 8px solid #8f8f8f;
  border-left-color: #fff;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  min-width: 0;
}

.featherlight-loading .featherlight-content > * {
  display: none !important;
}

.featherlight-loading .featherlight-close,
.featherlight-loading .featherlight-inner {
  display: none;
}
 
 /* ----- Portflio Projects: Project Navigator ----- */

.portfolio-project {

    .project-nav {
        background-color: $light-gray;
        text-align: center;
        border-bottom: 2px solid $white;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        .direction {
            width: 100%;
            text-align: left;
            @include transition;

            &:hover {
                background-color: darken($light-gray, 4%)
            }

            a { 
                padding: 5rem 0;
                display: flex;
                justify-content: center;

                div a{
                    text-align: left;
                    display: inline-block;
                }

                span {
                    color: $charcoal
                }
            }

            &.next{
                border-left: 2px solid $white;

                a div {
                    text-align: right;
                }
            }
        }

        .visit {
            display: inline-block;
            background-color: $light-gray;
            padding: .5rem 2rem;
        }
    }
}

.portfolio-project.uno .item-title:after,
.portfolio-project.uno .item-title.next-item:before {
    background: $picton-blue;
}
.portfolio-project.webdirect .item-title:after,
.portfolio-project.webdirect .item-title.next-item:before {
    background: $emerald;
}
.portfolio-project.bks-website .item-title:after,
.portfolio-project.bks-website .item-title.next-item:before {
    background: $viking;
}
.portfolio-project.keyword-search .item-title:after,
.portfolio-project.keyword-search .item-title.next-item:before {
    background: $cornflower;
}
.portfolio-project.news-analysis .item-title:after,
.portfolio-project.news-analysis .item-title.next-item:before {
    background: $pelorous;
}
.portfolio-project.pb-feature .item-title:after,
.portfolio-project.pb-feature .item-title.next-item:before {
    background: $picton-blue;
}


/* 
-------------------------------------------------------- 
Pages: Manifesto
-------------------------------------------------------- 
*/


.manifesto-pg {

    section {
        padding-top: 3rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        width: 49%;
        display: inline-block;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* 
-------------------------------------------------------- 
Media Queries
-------------------------------------------------------- 
*/

@media all and (max-width: $med) {

    .portfolio-project .project-nav {
        display: block;

        .direction.previous {
            border-bottom: 2px solid $white;
        }

    }

    .index {

        .projects-wrap li,
        .projects-wrap li.featured {
            width: 100%;
            padding-right: 0;
        }
    }
}


