/*
-------------------------------------------------------- 
Base Typography
-------------------------------------------------------- 
*/

@mixin font-size($size: 1.6, $line: $size * 1.58) {
    font-size: $size * 10 + px;
    line-height: $line * 10 + px;
    font-size: $size + rem;
    line-height: $line + rem;
}

@font-face {
    font-family: 'vollkorn';
    src: url("/assets/fonts/vollkorn.eot");
    src: url("/assets/fonts/vollkorn.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/vollkorn.woff") format("woff"), url("/assets/fonts/vollkorn.ttf") format("truetype"), url("/assets/fonts/vollkorn.svg#OpenSansRegular") format("svg");
    font-weight: 100;
    font-style: 100;
}

@font-face {
    font-family: 'avenir';
    src: url("/assets/fonts/Avenir-Light.eot?") format("eot"), url("/assets/fonts/Avenir-Light.otf") format("opentype"), url("/assets/fonts/Avenir-Light.woff") format("woff"), url("/assets/fonts/Avenir-Light.ttf") format("truetype"), url("/assets/fonts/Avenir-Light.svg#AvenirLTStd-Light") format("svg");
    font-weight: 100;
    font-style: 100;
}

html {
    @include font-size(1);
}

body {
    font-family: 'avenir', sans-serif;
}

h1 {
    @include font-size(2.2);
}

h2 {
    @include font-size(1.8);
}

h3 {
    @include font-size(1.6);
}

h4 {
    @include font-size(1.2);
}