/* 
-------------------------------------------------------- 
Variables
-------------------------------------------------------- 
*/

/* ----- Colors ----- */

$white: #fff;
$light-gray: #F6F6F6;
$viking: #40b3b9;
$picton-blue: #49AFD5;
$emerald: #5EC883;
$cornflower: #4783F0;
$pelorous: #1998B7;
$charcoal: #4A4A4A;
$near-black: #222222;

/* ----- breakpoints ----- */

$med: 56.25rem;